.a-cabezera{
	font-family: 'Roboto', sans-serif;
	color: white;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0.9rem 0;
  letter-spacing: 1.3px;
}
.color-cabezera-principal{
	background-color: #84bd00;
	width: 100%;
}
.color-cabezera{
	background: #fff;
  box-shadow: 0 0 5px #bbb;
	width: 100%;
}
.separacion-dropdown{
	padding: .0.5rem 0px;
}
.modf-header-1{
	float: right;
}
.modf-h3-1{
	display: block;
	margin: 0 92px;
	font-family: 'Roboto', sans-serif;
	padding-top: 15px;
}
.modf-ul-1{
	margin-right: 106px;
}
.modf-ul-2{
	margin-right: 92px;
}
.modf-img-1{
	width: 50%;
  margin-bottom: 8px;
  margin-left: 90px;
  margin-top: 10px;
}
.modf-img-2{
	height:78vh;
}
.modf-div-1{
	margin-right: 8% !important;
}
.modf-a-1{
	color:#00263a;
}
.modf-a-1 :focus{
	color:##84bd00 !important;
}
.footer-v1 .footer p, .latest-list li a{color:#eee}
.footer-v1 .footer{padding:40px 0;background:#193c4e}
.footer-v1 .footer h2{color:#eee;font-size:18px;font-weight:200}
.latest-list li{padding:8px 0;border-top:1px solid #335161}
.latest-list li:first-child{padding-top:0;border-top:none}
.latest-list small{color:#999;display:block}.footer-v1 .footer-v1,.footer-v1,.footer-v1 address{color:#eee}.footer-v1 address{line-height:23px}
.map-img{background:url(../img/map-maker.png) 90px 60px no-repeat}
.footer-v1 .footer .posts .dl-horizontal a{color:#dadada}
.footer-v1 .footer .dl-horizontal a:hover{color:#5fb611!important}
.footer-v1 .copyright{background:#00263a;border-top:none;padding:10px 0 5px}
.footer-v1 .copyright p{color:#eee;margin-top:14px}
.footer-v1 .copyright a{margin:0 2px}
.footer-v1 .footer-socials{margin-top:12px;text-align:right}
.footer-v1 .footer-socials li a{color:#4c6775;font-size:16px}
@media (max-width:991px){.header-fixed .header-v8.header-sticky{position:static}
.footer-v1 .copyright,.footer-v1 .footer-socials{text-align:left}}
